# Copy annotations from lombok.* to their respective javax.* or jakarta.* counterparts
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

# Automatically generate @NoArgsConstructor for all classes with @Data
lombok.noArgsConstructor.extraPrivate = true

# Add @Generated annotation to all generated methods 
lombok.addLombokGeneratedAnnotation = true

# Enable lombok for build tools
config.stopBubbling = true 